body {
  background-color: #F1F3F2;
  padding-top: 3.750em;
  position: relative;
    text-align: center;
}
h1 {
  font-size: 400%;
  color: #5FC8B4;
  font-family: 'Roboto Slab', serif;
  text-align: center;
}
p {
  font-size: 150%;
  font-style: normal;
  color: black;
}
footer {
  text-align: right;
    position: fixed;
    bottom: 0em;
    right: 0.250em;
    width: 5.875em;
}
.navbar-inverse .navbar-nav>li>a {
  color: black;
}
.container-fluid ul{
  font-family: 'Roboto Slab', serif;
}
.container-fluid{
  background-color: #BFD6E5;
  text-transform:uppercase;
}
.Janikhubka a {
  color: black;
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
}
// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
